@model University.Models.Professor

<div class="container">
  <h2>Are you sure you would like to delete this Professor?</h2>

  @Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)

  @using (Html.BeginForm())
  {
    @Html.Hidden("id", @Model.ProfessorId)
    <input type="submit" value="Delete" class="btn btn-primary" />
  }
</div>
