@model University.Models.Student

<h2>Are you sure you would like to delete this student?</h2>

@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)

@using (Html.BeginForm())
{
  @Html.Hidden("id", @Model.StudentId)
  <input type="submit" value="Delete" class="btn btn-primary" />
}
